@import "tailwindcss";

body {
    @apply bg-black text-primary;
    font-family: "Geist Mono";
}

@theme {
    --color-primary: oklch(1 0 0);
    --color-muted: oklch(0.4525 0 0);
}

* {
    box-sizing: border-box !important;
}
