---
import Layout from "../layouts/layout.astro";
import "../styles/global.css";
---

<Layout>
    <section class="space-y-4">
        <p>The Mainframe</p>
        <div class="flex items-center gap-4">
            <p>404</p>
            <hr class="grow border-muted" />
            <p>Bootloader</p>
        </div>
        <div class="flex items-center gap-4">
            <p>404</p>
            <hr class="grow border-muted" />
            <p>Kernel</p>
        </div>
        <p>
            You can reach us by contacting <a
                href="mailto:init@kth.it"
                class="underline underline-offset-4">init@kth.it</a
            >.
        </p>
    </section>
</Layout>
