---
import "../styles/global.css";
import Layout from "../layouts/layout.astro";
import Button from "../components/button.astro";
---

<Layout>
    <section class="space-y-4">
        <p>
            We are <b>init</b>, the systems development group at the IT Chapter
            @ KTH.
        </p>
        <p class="mb-8">
            We develop and maintain a number of systems that make life easier
            for the IT Chapter.
        </p>
        <div class="flex gap-4">
            <a href="/join">
                <Button link> Join </Button>
            </a>
            <a href="/contact">
                <Button variant="secondary" link> Contact </Button>
            </a>
        </div>
    </section>
</Layout>
