---
export const prerender = false; // Not needed in 'server' mode

class ValidationError extends Error {}

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const name = data.get("name");
        const email = data.get("email");

        const schema = z.object({
            name: z.string().min(2).max(100),
            email: z.string().email(),
        });

        const result = schema.safeParse({ name, email });

        if (!result.success) {
            throw new ValidationError("Invalid input");
        }

        return Astro.redirect("/join/success");
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }

        if (error instanceof ValidationError) {
            return Astro.redirect("/join?error=invalid");
        }
    }
}

import { z } from "astro:content";
import Button from "../../components/button.astro";
import Input from "../../components/input.astro";
import Layout from "../../layouts/layout.astro";

const error = Astro.url.searchParams.get("error");
---

<Layout>
    <section class="space-y-4">
        {error ? "ERROR!" : ""}
        <form method="POST" class="space-y-4">
            <div class="flex flex-col gap-2">
                <label class="text-xs" for="email">Email:</label>
                <Input type="email" id="email" name="email" required />
            </div>
            <div class="flex flex-col gap-2">
                <label class="text-xs" for="name">Name:</label>
                <Input type="text" id="name" name="name" required />
            </div>
            <Button class="mt-8" type="submit">Join</Button>
        </form>
    </section>
</Layout>
