---
import Layout from "../../layouts/layout.astro";
---

<Layout>
    <section class="space-y-4">
        <p>Thank you for applying.</p>
        <p>We will reach out to you shortly.</p>
    </section>
</Layout>
