---
import { ClientRouter } from "astro:transitions";
import InitLogo from "../assets/init.svg";
import "../styles/global.css";
---

<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>init</title>
        <ClientRouter />
    </head>
    <body>
        <main class="h-screen w-screen flex items-center justify-center p-4">
            <div class="max-w-2xl w-full p-4">
                <a href="/" class="block w-fit mb-8">
                    <InitLogo
                        transition:name={"logo"}
                        class="hover:opacity-80 transition-opacity"
                        width={60}
                        height={24}
                    />
                </a>
                <slot />
            </div>
        </main>
    </body>
</html>

<style is:global>
    @font-face {
        font-family: "Geist Mono";
        src: url("/fonts/geist-mono.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
</style>
